<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  var availableTags = [
    "SF사랑의교회","금문장로교회","뉴비젼교회","버클리열린교회","버클리중앙장로교회","버클리은혜장로교회","예수인교회","은혜장로교회","이웃 사랑 교회",
    "임마누엘 장로교회","산호세 중앙 장로 교회","산호세 온누리 교회","상항중앙장로교회","상항제일장로교회","상항 연합 장로 교회","상항 한국인 연합 감리교회",
    "새소망교회","새누리 침례교회","성결교회","시온선교침례교회","좋은교회","참빛교회"
  ];
  $( "#tags" ).autocomplete({
    source: availableTags
  });
} );
</script>
<div class="content">
  <div id="create_new_form">
    <%= form_for @post, html: {multipart: true} do |f| %>
    <p id="text">
      이름:</br>
      <%= f.text_field :name, :required => true %><br />
    </p>
    <p id="text">
      연령대:</br>
      <%= f.select :age, age, { include_blank: true } %>
    </p>
    <p id="text">
      이메일:</br>
      <%= f.text_field :email,:required => true  %><br />
    </p>
    <p id="text">
      어떻게 알고 오셨나요?</br>
      <%= f.select :how, how, { include_blank: true } %>
    </p>
    <p id="text">
      소속교회:</br>
      <%= f.text_field :church, :id=>"tags" %>
    </p>

    </br>
      <%= f.submit '등록', {:class => "button btn btn-lg btn-success", :id=>"button"} %>

    <% end %>
  </div>

</div>




</div>
