<div class="content">
  <div id="create_new_form">
    <%= form_for @post, html: {multipart: true} do |f| %>
    <p id="text">
      이름:</br>
      <%= f.text_field :name, :required => true %><br />
    </p>
    <p id="text">
      연령대:</br>
      <%= f.select :age, age, { include_blank: true } %>
    </p>
    <p id="text">
      전화번호:</br>
      <%= f.text_field :phone, placeholder: "*numbers only" %><br />
    </p>
    <p id="text">
      이메일:</br>
      <%= f.text_field :email,:required => true  %><br />
    </p>
    <p id="text">
      어떻게 알고 오셨나요?</br>
      <%= f.select :how, how, { include_blank: true } %>
    </p>
    <p id="text">
      소속교회:</br>
      <%= f.select :church, church, { include_blank: true } %>
    </p>
    </br>
      <%= f.submit '등록', {:class => "button btn btn-lg btn-success", :id=>"button"} %>

    <% end %>
  </div>

</div>
