<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  var availableTags = [
    "예수인교회",
    "SF사랑의교회",
    "금문교회"
  ];
  $( "#tags" ).autocomplete({
    source: availableTags
  });
} );
</script>
<div class="content">
  <div id="create_new_form">
    <%= form_for @post, html: {multipart: true} do |f| %>
    <p id="text">
      이름:</br>
      <%= f.text_field :name, :required => true %><br />
    </p>
    <p id="text">
      연령대:</br>
      <%= f.select :age, age, { include_blank: true } %>
    </p>
    <p id="text">
      이메일:</br>
      <%= f.text_field :email,:required => true  %><br />
    </p>
    <p id="text">
      어떻게 알고 오셨나요?</br>
      <%= f.select :how, how, { include_blank: true } %>
    </p>
    <p id="text">
      소속교회:</br>
      <%= f.text_field :church, :id=>"tags" %>
    </p>

    </br>
      <%= f.submit '등록', {:class => "button btn btn-lg btn-success", :id=>"button"} %>

    <% end %>
  </div>

</div>




</div>
